body {
	font-family: Raleway, Serif;
	color: white;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
	margin-bottom: 0;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
}

a {
	color: white;
}

a:hover {
	color: #ec4646;
}
/*Nav Bar Section*/

.navbar {
	padding-top: 30px;
}
.nav-item {
	padding-left: 20px;
}
.nav-link {
	color: #bbdbfc;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.3s;
}
.nav-link:hover {
	color: white;
	border-bottom: 2px solid #ec4646;
}

/*Header Section*/

#header-section {
	background-color: #3b7bbf;
	height: 100vh;
	background-image: linear-gradient(rgba(7, 4, 90, 0.7), rgba(7, 4, 90, 0.7)),
		url('https://source.unsplash.com/1600x900/?webdevelopment');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.header-name {
	position: absolute;
	top: 40%;
}

.quote-link {
	color: white;
}

.quote-link:hover {
	color: rgb(248, 233, 204);
}

.header-btn {
	padding: 10px 15px;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #ec4646;
	border-color: #ec4646;
}
.header-btn:hover {
	background-color: #ec4646;
	border-color: #ec4646;
}

/*Skills Section*/
#skills-section {
	color: rgb(63, 63, 63);
	padding: 50px;
}

.line {
	display: inline-block;
	border-bottom: 5px solid #ec4646;
	width: 80px;
}
.img-skills {
	width: auto;
	height: 100px;
}
#skills-section .row {
	margin-top: 50px;
}
#skills-section .col {
	/* border: 1px solid black; */
	/* margin-top: 20px; */
}
/*Project Section*/

#project-section {
	background-color: rgba(246, 246, 248, 0.7);
	color: rgb(63, 63, 63);
	padding: 50px;
}

.project-btn {
	border-radius: 5px;
	background-color: #ec4646;
	color: white;
	padding: 10px 40px;
}
.project-btn:hover {
	background-color: #f83b3b;
}
/*Contact Section*/

#contact-section {
	background-color: #e4e0f3;
	color: black;
	padding: 5% 10%;
}

.contact-header {
	text-align: center;
}

/*Footer Section*/

.footer-main {
	background-color: #072192ce;
	color: black;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 5% 10%;
}
